*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fff;
}

.custom-container{
    width: 100%;
    text-align: center;
}

#cameraFeed{
    background-color: whitesmoke;
    width: 90%;
    height: 500px;
    padding: 0px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 1px 2px 5px #919191;
}

.video-buttons{
    transform: translateY(-100px);
    position: relative;
    margin: 0px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
    background-color: #31313175;
    padding: 5px;
    border-radius: 5px;
}

#btnStart, #btnStop{
    border-radius: 100%;
    padding: 5px;
}

#vd{
    display: none;
}

/*Style para o modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
}

.modal-content{
    width: 300px;
    margin: auto;
}




